.albums{
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  /* row-gap: 20px; */
  /* column-gap: 20px; */
  overflow-y: auto;
  /* margin: 5% 1%; */
  

}

.album{
  /* min-width: 400px; */
  margin: 3%;
}